*{
	top: 0px;
	left: 2px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;

}
#background {
	position: absolute;
    width: 95%;
    padding-top: 130px;
}
.btn-success {
	color: #fff;
	background:linear-gradient(to right, #856DD7 10%, #FF8FE2 180%);
	border-color: #856DD7;
	width: 140px;
	height: 48px;
	font-size: 15px;
	font-family: Poppins-Medium, Poppins;
	text-transform: capitalize;
	margin: 0 20px;
	margin-top: 15px;
    margin-bottom: 20px;	
}

.btn-success:hover{
	color: #856DD7 !important;
	background: #fff !important;
	border-color: #856DD7 !important;
}

.btn-success:focus,
.btn-success.focus {
	box-shadow: 0 0 0 0rem rgba(248, 249, 250, 0.5);
	border-color: #856DD7;
	background:linear-gradient(to right, #856DD7 10%, #FF8FE2 180%);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
	border-color: #856DD7;
}

.btn-default{
	background-color: #fff;
	border-color: #856DD7;
	color: #856DD7;
	width: 140px;
	height: 48px;
	font-size: 15px;
	font-family: Poppins-Medium, Poppins;
    margin: 0 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-default:hover{
	background:linear-gradient(to right, #856DD7 10%, #FF8FE2 180%);
	border-color: #856DD7;
	color: #fff;
}

.btn-default:focus,
.btn-default.focus {
	box-shadow: 0 0 0 0rem rgba(248, 249, 250, 0.5);
	border-color: #856DD7;
}

.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:not(:disabled):not(.disabled).active:focus,
.show>.btn-default.dropdown-toggle:focus {
	box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
	border-color: #856DD7;
}
